.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--main-color);
}

.login-button {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--deep-color);
}

@media (max-width: 780px) {
    .navbar {
        padding: 20px 3rem;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 60px;
        right: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        background: white;
        opacity: 0;
        animation: aniNav 1s forwards;
        box-shadow: 1px 7px 6px 0px #00000012;
        transition: opacity 5s ease, transform 0.5s ease;
    }

    .nav-links.open {
        display: flex;
        opacity: 1;
    }

    .login-button {
        display: none;
    }
}

@keyframes aniNav {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}